/* needed to import the font from the outside */
body {
  margin: 0px;
  padding: 0px;
  background-image: url(assets/images/background-desktop.png);
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}

img {
  opacity: 1;
}
