@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* The problem is that -> I don't know how to add the pattern line and circle and the other's background thing's. */

/* I am having isssues with adding the side images don't know how to add it. and import it. 
Well i have never be good at the image property and also don't know how to use it properly. */
body {
  margin: 0;

  background-image:
    url('assets/images/background-desktop.png')
    url('assets/images/pattern-squiggly-line-bottom-desktop.svg'),
    url('assets/images/pattern-squiggly-line-top.svg');

  background-repeat: no-repeat, no-repeat, no-repeat;

  background-position:
    left top,
    right top,
    center center;

  background-size: auto,auto , cover;

  background-attachment: scroll, scroll, fixed;

  background-color: transparent;

  color: hsl(252, 6%, 83%);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.center {
  display: flex;
  gap: 15px;
  margin: 20px 0px;
}
.center h1 {
  font-size: 30px;
}
main {
  width: 700px;
}
.upperText h1 {
  font-size: 40px;
}
.upperText p {
  font-size: 22px;
  color: hsl(245, 15%, 58%);
}

.fileBorder {
  height: 150px;
  border: 2px dotted white;
}
.fileBorder input {
  display: none;
}

.fileBorder img {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  width: 50px;
  margin: 20px 0px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form label {
  font-size: 20px;
  text-align: start;
  align-items: start;
}

.form input {
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border: 2px solid hsl(245, 15%, 58%);
  border-radius: 10px;
  font-size: 16px;
  padding: 15px;
}

.form button {
  padding: 20px;
  margin: 10px 0px;
  background-color: hsl(7, 88%, 67%);
  color: hsl(248, 70%, 10%);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-family: 'Young Serif', serif;
  font-style: normal;
  font-size: 20px;
}

.form button:hover {
  background-color: hsl(7, 71%, 60%);
}

/* Medai query  */
@media screen and (max-width:376px) {
  body {
    margin:0px 10px;
    background-image: url(assets/images/background-mobile.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
  .center h1{
    font-size: 20px;
  }
  main{
    width: 100%;
  }
  .upperText h1 { 
    font-size: 30px;
  }
  .upperText p {
    font-size: 25px;
  }
  .form button {
    font-size: 20px;
    padding:12px;
    margin-bottom:5rem;
  }
}
