@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* The problem is that -> I don't know how to add the pattern line and circle and the other's background thing's. */
body {
  margin: 0px;
  padding: 0px;
  background-image: url(assets/images/background-desktop.png);
  background-color: transparent;
  background-repeat: no-repeat;
  color: hsl(252, 6%, 83%);
  background-size: cover;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.center {
  display: flex;
  gap: 15px;
  margin: 20px 0px;
}
.center h1 {
  font-size: 30px;
}
main {
  width: 700px;
}
.upperText h1 {
  font-size: 40px;
}
.upperText p {
  font-size: 22px;
  color: hsl(245, 15%, 58%);
}

.fileBorder {
  width: 700px;
  height: 150px;
  border: 2px dotted white;
}

.form{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.form label{
  font-size:20px;
  text-align:start;
  align-items:start;
}